.listingsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
  height:100%;
}

.cardContainer{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.listingImage {
  height: 60%;
  overflow: hidden;
  display: flex;
  align-items: center; 
}

.listingText {
  font-size: 18px;
  padding: 10px 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.listingButton {
  margin-top: auto;

}

a{
    text-decoration: none;
}
