.button{
    background-color: #1ed760;
    color: black;
    font-weight: bold;
    padding: 15px 20px;
    margin: 5px;
    border: none;
    border-radius: 500px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button:hover {
    transform: scale(1.04);
    transition: all 0.3s ease;
}

.button:focus {
    outline: 3px solid white;
    outline-offset: 3px;
    transition: all 0.3s ease;
}