.logout{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 20px;
    background-color: lightgray;
    transition: all 0.3s ease;
}

.loginBtn {
    padding: 20px 50px;
    font-size: 14px;
    border-radius: 500px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.loginBtn:hover {
    transform: scale(1.04);
    transition: all 0.3s ease;
}

.loginBtn:focus {
    outline: 3px solid white;
    outline-offset: 3px;
    transition: all 0.3s ease;
}


